[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pipenv-to-requirements = "*"
black = "*"
pynt = "*"
tox = "*"
jiggle_version = "*"

[requires]
python_version = "3.8.0"

[packages]
docopt = "*"
