[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pipenv-to-requirements = "*"
black = "*"
pynt = "*"
tox = "*"
jiggle-version = "*"
pytest = "*"
twine = "*"
pylint = "*"
pynt-contrib = "*"
checksumdir = "*"
vulture = "*"

[requires]
python_version = "3.8"

[packages]
docopt = "*"
vulture = "*"

[pipenv]
allow_prereleases = true
